src/com/zc/basic/z10jaxb/Person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Person" xmlns:tns="http://www.example.org/Person" elementFormDefault="qualified">

    <element name="Person" type="tns:Person"></element>
    
    <complexType name="Person">
    	<sequence>
    		<element name="name" type="string"></element>
    		<element name="age" type="int"></element>
    	</sequence>
    </complexType>
    
</schema>